// partials/fonts


.f-omes                                 { font-family: 'omes', sans-serif; }
.f-almoni                               { font-family: 'almoni', sans-serif; }
.f-almoni-tzar                          { font-family: 'almoni-tzar', sans-serif; }
.f-ambivalenti                          { font-family: 'ambivalenti', sans-serif; }
.f-ambivalenti-tzar                     { font-family: 'ambivalenti-tzar', sans-serif; }
.f-asimon                               { font-family: 'asimon', sans-serif; }
.f-atlas                                { font-family: 'atlas', sans-serif; }
.f-barlev                               { font-family: 'barlev', sans-serif; }
.f-caravan                              { font-family: 'caravan', sans-serif; }
.f-frankruehl                           { font-family: 'frankruehl', sans-serif; }
.f-mekomi                               { font-family: 'mekomi', sans-serif; }
.f-mixtape                              { font-family: 'mixtape', sans-serif; }
.f-mugrabi                              { font-family: 'mugrabi', sans-serif; }
.f-museum                               { font-family: 'museum', sans-serif; }
.f-noyland                              { font-family: 'noyland', sans-serif; }
.f-paamon                               { font-family: 'paamon', sans-serif; }
.f-poeti                                { font-family: 'poeti', sans-serif; }
.f-rivka                                { font-family: 'rivka', sans-serif; }
.f-spectrum                             { font-family: 'spectrum', sans-serif; }
.f-stanga                               { font-family: 'stanga', sans-serif; }
.f-synopsis                             { font-family: 'synopsis', sans-serif; }
