// partials/stretched


// container if needed
.stretched-container {
  position: relative;
  display: block;
}

// the element to be stretched
.stretched {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
