// Fonts library of AAA


@font-face {
  font-family: 'almoni';
  src: url('#{$fonts-base-uri}/almoni-dl-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/almoni-dl-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'almoni-tzar';
  src: url('#{$fonts-base-uri}/almoni-tzar-aaa-400.woff') format('woff'),
    url('#{$fonts-base-uri}/almoni-tzar-aaa-400.ttf') format('ttf');
}

@font-face {
  font-family: 'ambivalenti';
  src: url('#{$fonts-base-uri}/ambivalenti-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/ambivalenti-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'ambivalenti-tzar';
  src: url('#{$fonts-base-uri}/ambivalenti-tzar-aaa-400.woff') format('woff'),
    url('#{$fonts-base-uri}/ambivalenti-tzar-aaa-400.ttf') format('ttf');
}

@font-face {
  font-family: 'asimon';
  src: url('#{$fonts-base-uri}/asimon-aaa-300.woff') format('woff'),
    url('#{$fonts-base-uri}/asimon-aaa-300.ttf') format('ttf');
}

@font-face {
  font-family: 'atlas';
  src: url('#{$fonts-base-uri}/atlas-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/atlas-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'barlev';
  src: url('#{$fonts-base-uri}/barlev-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/barlev-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'caravan';
  src: url('#{$fonts-base-uri}/caravan-aaa-900.woff') format('woff'),
    url('#{$fonts-base-uri}/caravan-aaa-900.ttf') format('ttf');
}

@font-face {
  font-family: 'frankruehl';
  src: url('#{$fonts-base-uri}/frankruehl-aaa-400.woff') format('woff'),
    url('#{$fonts-base-uri}/frankruehl-aaa-400.ttf') format('ttf');
}

@font-face {
  font-family: 'mekomi';
  src: url('#{$fonts-base-uri}/mekomi-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/mekomi-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'mixtape';
  src: url('#{$fonts-base-uri}/mixtape-aaa-800.woff') format('woff'),
    url('#{$fonts-base-uri}/mixtape-aaa-800.ttf') format('ttf');
}

@font-face {
  font-family: 'mugrabi';
  src: url('#{$fonts-base-uri}/mugrabi-aaa-300.woff') format('woff'),
    url('#{$fonts-base-uri}/mugrabi-aaa-300.ttf') format('ttf');
}

@font-face {
  font-family: 'museum';
  src: url('#{$fonts-base-uri}/museum-aaa-300.woff') format('woff'),
    url('#{$fonts-base-uri}/museum-aaa-300.ttf') format('ttf');
}

@font-face {
  font-family: 'noyland';
  src: url('#{$fonts-base-uri}/noyland-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/noyland-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'omes';
  src: url('#{$fonts-base-uri}/omes-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/omes-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'paamon';
  src: url('#{$fonts-base-uri}/paamon-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/paamon-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'poeti';
  src: url('#{$fonts-base-uri}/poeti-aaa-300.woff') format('woff'),
    url('#{$fonts-base-uri}/poeti-aaa-300.ttf') format('ttf');
}

@font-face {
  font-family: 'rivka';
  src: url('#{$fonts-base-uri}/rivka-bau-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/rivka-bau-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'spectrum';
  src: url('#{$fonts-base-uri}/spectrum-09-wireframe-b-aaa-web.woff') format('woff'),
    url('#{$fonts-base-uri}/spectrum-09-wireframe-b-aaa-web.ttf') format('ttf');
}

@font-face {
  font-family: 'stanga';
  src: url('#{$fonts-base-uri}/stanga-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/stanga-aaa-700.ttf') format('ttf');
}

@font-face {
  font-family: 'synopsis';
  src: url('#{$fonts-base-uri}/synopsis-aaa-700.woff') format('woff'),
    url('#{$fonts-base-uri}/synopsis-aaa-700.ttf') format('ttf');
}
