{{! logo }}
<a href="//alefalefalef.co.il" class="aaa-link above" aria-label="אאא">{{partial "logo-aaa"}}</a>

{{outlet}}

{{! footer}}
<footer class="footer above">
  <small>פרויקט טקסטפרמנטלי מבית <a href="http://alefalefalef.co.il">אאא</a> + <a href="http://www.orilivni.com">אורי לבני</a></small>
</footer>
